.banner{
    background-image: url('../../Assets/banner/banner.jpg');
    background-size: cover;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner h2{
    font-size: 90px;
    text-align: center;
}

.banner li{
    background-color: var(--btn-color);
    border-radius: 15px;
    padding: 10px 38px;
    color: #fff !important;
    font-size: 18px;
    font-weight: 600;
    width: fit-content;
    margin: auto;
    letter-spacing: 1px;
}
.banner li a{
    color: #fff !important;
    display: inline-block;
}

@media (max-width:992px) {
    .banner h2 {
        font-size: 50px;
    }
}